/* styles/globals.scss */

/* Import the Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import'./Navbar.module.scss';

/* Define font families */
$font-mono: 'Roboto', monospace;

/* Define color palette */
$background-color: #000000;
$text-color: #FFFFFF;
$accent-color: #FFD700;

* {
    box-sizing: border-box;
}

/* Define base styles */
body {
    font-family: $font-mono;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: $background-color;
    color: $text-color;
}

/* Add accent color to links or other elements as needed */
a {
    color: $accent-color;
}

/* Add other global styles here */

/* Mobile Styles */
@media (max-width: 700px) {

    /* Adjust styles for mobile screens */
    body {
        font-size: 16px;
        /* Example: Adjust font size for mobile */
        padding: 1rem;
        /* Example: Add padding for mobile layout */
    }
    /* Adjust other styles for mobile */
}

/* Tablet and Smaller Desktop Styles */
@media (min-width: 701px) and (max-width: 1120px) {

    /* Adjust styles for tablet and smaller desktop screens */
    body {
        font-size: 18px;
        /* Example: Adjust font size for tablet */
    }

    /* Adjust other styles for tablet and smaller desktop */
}

/* Larger Desktop Styles */
@media (min-width: 1121px) {

    /* Adjust styles for larger desktop screens */
    body {
        font-size: 20px;
        /* Example: Adjust font size for desktop */
    }

    /* Adjust other styles for larger desktop */
}