.title{
    font-weight: 600; // Set your desired font weight
    font-size: 1rem; // Set your desired font size
    display: flex;
    align-items: center;
    span{
        font-size: 1rem; 
        color: #B8860B;
        margin-right: 0.5rem;
    }
}

.border {
    display: inline-flex;
    width: 18rem;
    height: 0.5px;
    background-color: #B8860B;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}